{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}<br><br>
<div class="container">

 {% comment %} This is my bodyblock <b>{{build}}</b> </br>
 This is my bodyblock <b>{{ip}}</b> {% endcomment %}
 <br><br><br><br>
 <h4>svn://192.168.1.109/Releases/10.x.0.x/service_name/Binaries/
 <br>This <strong>Weekend</strong> RRF Version is :  11.44.0.0
 <br>Today's Stagging RRF version : 11.xx.0.2</h4>

<h3>----------------------------------------------------------------</h3>
{% comment %} <h3>from db to template</h3>
 {{out1}} </br>
 {{out2}}
</br></br>


 <table border="1">
    {% for x in mycontact %}
    <tr>
    <td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
    <td>{{ x.name }}</td>
    <td>{{ x.email }}</td>
    <td><a href="delete/{{ x.id }}">delete</a></td>
    </tr>
    {% endfor %}
</table>

</br> </br><p><a href="add/">Add record</a></p> {% endcomment %}


</div>
{% endblock body %}


